[2020-05-04 18:25] krebera opened #1 "Animates in wrong direction for top / bottom"
Currently, when I go for a toast or a float, if I pass .top, it animates from the top bot goes all the way to the bottom. If I pass in .bottom, it animates from the bottom but goes all the way to the top

[2020-05-14 02:22] L1cardo opened #2 "Can not hide on Mac Catalyst"
[code]

![image](https://user-images.githubusercontent.com/33802186/81885391-da815f00-95cc-11ea-8d99-89156cdeefbb.png)

[2020-05-14 07:37] f3dm76 commented on #2
Hello @L1cardo , thank you for your report, but unfortunately we didn't test our library on mac catalyst and can't guarantee its correct work.

[2020-05-21 00:03] golangnext opened #3 "Limitation usage"
PopouView `.popup` requires a host view to be a fullscreen. For example, if I put `.popup` at a view with height =200, it will show a different way.
Is there any better way to allow it to attach to any view and show at the correct position?

![Simulator Screen Shot - iPhone 11 Pro Max - 2020-05-21 at 10 02 13](https://user-images.githubusercontent.com/47587402/82509121-58ec7c80-9b4a-11ea-9422-bef4

[2020-05-21 11:22] f3dm76 commented on #3
Hey @golangnext , thanks for your report, I do believe you are right. Please check out new 0.0.2 version, should work there.

[2020-05-22 12:15] golangnext commented on #3
I tried the 0.0.2, that's amazing :)

[2020-05-30 21:35] halilyuce opened #4 "Close Modal When Click to Outside"
Hello, thanks for this useful pod :)

I recommend if you add a feature for hiding modal when users click to the outside of modals, it will be so useful :)

Thanks in advance.

[2020-06-02 05:41] f3dm76 commented on #4
Hello @halilyuce , thank you for your kind words) Sounds like a good idea. I'll try implementing that and will let you know if/when it's ready. Have a great day!

[2020-06-02 08:42] #3 closed

[2020-06-02 08:42] #2 closed

[2020-06-02 08:43] f3dm76 commented on #1
Hello @krebera , sorry for the wait. Does this still happen for you? Could you please provide some code or a small project archive so we can reproduce?

[2020-06-02 14:14] halilyuce commented on #4
@f3dm76 you're welcome :) Thanks for reply, have a great day 🙋🏻‍♂️

[2020-06-03 08:54] f3dm76 commented on #4
Hello once again @halilyuce , I added new closeOnTapOutside parameter in 0.0.3 version, which you are most welcome to try. Have a good one)

[2020-06-03 12:06] halilyuce commented on #4
Thank you so much 👏🙌 I'm testing it immediately :)

[2020-06-03 13:06] #4 closed

[2020-06-03 21:29] ghost opened #5 "Popup view should be lazy loaded"
Here is an example

The current implemention is even `showSystemAlertNotification` = false, popup body is still executed. This could bring some problems in reality:

`data` struct is set a valid value only if showSystemAlertNotification= true. Since it's not lazy-loaded, a crash happens since self.systemAlertNotification = nil

[code]

[2020-06-11 10:10] MattRighetti opened #6 "NavigationView makes the app crash with SIGABRT"
I've tested the Popup with this simple View

[code]
but as soon as I deploy it on the simulator the view crashes with this log
[code]
<img width="1548" alt="Screenshot 2020-06-11 at 12 10 05" src="https://user-images.githubusercontent.com/16304728/84373228-8faf3300-abdc-11ea-882d-735710963515.png">

[2020-06-16 06:35] f3dm76 commented on #5
Hello @golangnext , that's a really good suggestion. However, we are using viewModifier, and the standard lazy view approach doesn't seem to be working here. We are still searching for a solution, but if you have any ideas, fill free to create a pull request.

[2020-06-16 07:06] f3dm76 commented on #6
Hello @MattRighetti , thank you for your report. Fixed in 0.0.4, you are most welcome to check it out. Have a great day!

[2020-06-16 07:06] #6 closed

[2020-06-16 10:53] MattRighetti commented on #6
The popup is not working anymore 🤔 this code is working in v0.0.3 but not on the latest version

[code]

[2020-06-16 10:59] MattRighetti opened #7 "Popup not showing up"
The popup is not working anymore, it doesn't appear 🤔 this code was working in v0.0.3 but not on the latest v0.0.4

[code]

[2020-06-16 23:10] golangnext commented on #7
seem true since it does not show popup too in the demo example

[2020-06-16 23:11] golangnext commented on #5
lazy view is a potential solution?

[code]

[2020-06-17 06:42] f3dm76 commented on #5
Yes, that's what I wrote: "we are using viewModifier, and the standard lazy view approach doesn't seem to be working here" :)

[2020-06-17 07:29] f3dm76 commented on #7
My apologies, guys, please check out yet another new version - 0.0.5, should be working and not crash in NavigationView

[2020-06-18 00:07] golangnext commented on #5
I'm thinking maybe we can use a conditional modifier for that, like

[code]

[2020-06-18 01:14] MattRighetti commented on #7
Confirmed, now it seems to work ✅

[2020-06-18 01:14] #7 closed

[2020-06-22 21:49] golangnext opened #8 "Xcode 12 build failure"
I can see this error in new XCode 12

`The compiler is unable to type-check this expression in reasonable time; try breaking up the expression into distinct sub-expressions`

![image](https://user-images.githubusercontent.com/47587402/85338382-89e31700-b525-11ea-9211-e5799bae35fd.png)

[2020-06-30 07:11] f3dm76 commented on #1
Hey @krebera, it's been a while, so I'm assuming everything is alright now, please let me now if you still have trouble with animation

[2020-06-30 07:11] #1 closed

[2020-06-30 08:12] f3dm76 commented on #8
Hello @golangnext, fixed the issue, please check out version 0.0.6, have an even greater day!

[2020-06-30 08:12] #8 closed

[2020-06-30 20:00] SlayterDev opened #9 "Popup blocks touch propagation to List View"
When using this library with a List and Navigation links, you have to hold the list cell to activate the navigation link or swipe to delete.

Here is the code I'm using to set up the toast:

[code]

My guess is the `simultaneousGesture` stuff is messing with the list view. A workaround or fix would be appreciated.

[2020-06-30 20:06] SlayterDev commented on #9
Further Info: Reverting to 0.0.4 fixes my issue but the toast is not displayed.

Running on Xcode 12 Beta 1, iOS 14

[2020-07-02 22:37] Vercisor commented on #9
Having the same problem here. No workaround found yet.

[2020-07-06 06:33] f3dm76 commented on #9
@SlayterDev I used your attached code, but the issue does not reproduce. Could you please attach a piece of code reproducing the issue? I guess I could just remove the touchOutside stuff, but people specifically asked me to add it, I hope I can find a way to fix this without removing it, once I'm able to reproduce your problem.

[2020-07-06 12:01] SlayterDev commented on #9
I’ll try to add a more complete example today. Is it possible to put that functionality behind a default parameter so it can be turned off if desired?

[2020-07-09 14:46] SlayterDev commented on #9
Can confirm @Vercisor's fix. I forked the library and removed the `simultaneousGesture` parts as a quick dirty fix. Placing these behind an optional parameter would at least be a fix for this situation.

[2020-07-10 06:51] f3dm76 commented on #9
@SlayterDev @Vercisor Pushed my workaround, please check it out - version 0.0.7

[2020-07-10 14:43] SlayterDev commented on #9
Looks good. Thank you.

[2020-07-10 14:43] #9 closed

[2020-09-07 04:58] f3dm76 commented on #5
In the last WWDC video about lazy HStack and VStack, Apple specifically notes that you should avoid using lazy unless absolutely necessary. So I think we are not going to make it lazy by default for now. But if you want it to be lazy you can always wrap it in lazy modifiers on your end. Have a great day!

[2020-09-07 04:58] #5 closed

[2020-09-07 15:12] ciroanni opened #13 "background layer behind popup"
Hi

is there a way to add a background layer behind the popup?

something like this

![image](https://user-images.githubusercontent.com/41707194/92401086-40ba6080-f12d-11ea-949c-049a41d59b73.png)

thanks

[2020-09-09 07:38] nguyenpham commented on #13
My solution is simple as below:

[code]

[2020-09-16 05:14] f3dm76 commented on #13
Glad you could come up with the solution @nguyenpham , do you need anything else, or may I close this issue?

[2020-09-19 15:06] ediv opened #14 "OnAppear be called twice"
...

[2020-09-21 05:52] #13 closed

[2020-10-06 22:10] JLZ opened #15 "Tap to dismiss doesn't cancel previously scheduled auto hide DispatchWorkItem"
I've implemented a queue of toasts, using `PopupView` for presentation. The issue I'm running into is that when a toast is dismissed via tap and I present the next toast in queue, it gets auto-hidden early. It looks like this is the code with the bug.

[code]

It seems that since `dispatchWorkHolder` is a class, it's `work` property is being passed by reference. Therefore, when I present a second

[2020-10-07 09:17] f3dm76 commented on #15
Hey @JLZ , thank you for your feedback. Could you please try modifying PopupView's code like this:
`if self.closeOnTap {
        self.dispatchWorkHolder.work?.cancel()
        self.isPresented = false
    }`
If that doesn't fix your issue, please attach some code for me to reproduce your issue. If it does, I'll make new pod release with this change. Have a nice day!

[2020-10-07 15:38] JLZ commented on #15
@f3dm76 good call. This fixed the issue. I posted a PR with the fix [here](https://github.com/exyte/PopupView/pull/16).

Thanks!

[2020-10-08 07:12] f3dm76 commented on #15
@JLZ All done, version 0.0.8, you are most welcome to check it out, have a nice day!

[2020-10-08 07:12] #15 closed

[2020-10-14 19:20] JLZ opened #17 "DispatchWorkItem is no longer cancelled on tap"
The fix I applied [here](https://github.com/exyte/PopupView/pull/16/files) was removed in 0.9 and the same [issue](https://github.com/exyte/PopupView/issues/15) is occurring again.

[2020-10-15 07:00] f3dm76 commented on #17
Hey @JLZ, I'm so sorry about that, restored in 0.0.10, please try it out, and have a nice day!

[2020-10-15 07:00] #17 closed

[2020-10-15 20:43] JLZ commented on #17
Thank you!

[2020-11-05 01:38] #14 closed

[2020-12-02 12:13] lrun-cmck opened #18 "Improvement: Drag to dismiss"
Hi ! Thanks for your work and for sharing with us this library. I'm coming with a suggestion for improving the UX regarding the options that a user has in order to dismiss the popup. It would be cool if the user would be able to dismiss it by dragging down. Thanks a lot !

[2020-12-03 05:09] f3dm76 commented on #18
Hi @lrun-cmck , thank you for your kind words! Great suggestion, that would be really cool indeed, I'll work on it first time I get a chance. Have a great day!

[2021-03-07 22:03] Tyler-Keith-Thompson opened #20 "Feature Request: Queue"
First off I'm happy with the library, it made showing a popup easy. I'd very much like to queue them and have found that to be somewhat cumbersome on my end. Any chance you could add either some kind of dismiss callback, make the binding value passed in set to false when autohide happens, or just build some nice API for queuing popups?

[2021-03-09 07:14] f3dm76 commented on #20
Hey @Tyler-Keith-Thompson, thanks for your kind words! I've added dismiss callback (version 0.0.12, you are most welcome to check it out). Binding value should be changed as it is - otherwise it wouldn't have worked, I guess, but please do let me know if that is not the case. As for nice API, I think chaining them using dismiss callback is as nice as it gets - otherwise it's just going to get in-e

[2021-03-16 20:06] kiddlima opened #21 "Previous floater popup is showing on a sheet view if you pull down and releases"

[2021-04-09 17:20] nasru opened #22 "show popup on tabbar page"
Hello there.
I want to show pop ups on tabbar page. I want to show the views I have created in subpages but. I want to send views via shared class ObservableObject. I couldn't solve it anyway. Can you help me with this?

[code]

[2021-04-14 04:52] metrue opened #24 "Prevent the tap event bubbling"
Hi, Thanks for your works on this cool project, I have question that when we enable `closeOnTapOutside` ,  how can enable prevent the outside view object receiving the tap event?

[2021-04-14 04:55] metrue opened #25 "Keep getting "Invalid frame dimension" error"
When dismissing the popup view, got error message often, anyone know how to resolve it?

[code]

[2021-04-14 07:20] f3dm76 commented on #24
Hey @metrue, I think you can add .`disabled(popupPresented)` to the outside content. I could add a flag, but it looks more like a job for the user, than for a popup library - not hte library's place to decide what's happens with its context. Have great day!

[2021-04-14 08:52] metrue commented on #24
`disabled` is nice solution enough, thanks @f3dm76

[2021-04-14 08:52] #24 closed

[2021-04-15 03:43] metrue commented on #18
Looking forward to this feature so much, I will take a look if I can do something,  you can drop any examples here if you have.

[2021-04-20 05:50] mkfiddle commented on #21
Also experiencing this behaviour, will try to provide more detailed report.

[2021-05-14 09:52] f3dm76 commented on #25
Hey @metrue, sorry for the slow answer. I don't see any errors in example project output. Could you please provide your example if that is still happening to you and you are sure the problem is not on your end. Have a great day!

[2021-05-14 11:04] f3dm76 commented on #22
Hello @nasru, sorry for the late answer. I must admit I didn't get what you are trying to do. Could you please explain in more details what sort of action you expect from me exactly, if you didn't figure it out yet? Have a nice day

[2021-05-14 11:07] f3dm76 commented on #21
Hey @kiddlima, sorry for the late answer. I'm not sure I understand exactly what's going on. Are you displaying a floater on a system sheet? Can't you just manually set flag for floater when you need it to hide? Anyway, if you still having trouble with this one, could you please provide you example code, and specify exactly what sort of behaviour you need instead of what you see. Have a great day!

[2021-05-14 11:08] f3dm76 commented on #20
Hey @Tyler-Keith-Thompson, did the dismiss callback help? May I close the issue, or would you like some more functionality?

[2021-05-14 11:10] f3dm76 commented on #18
@lrun-cmck @metrue I'm happy to announce that a brand new version 0.0.13 contains long awaited drag to dismiss. You are most welcome to give it a go. Please let me know if's everything you were expecting from it. Have a wonderful day!

[2021-05-14 11:48] Tyler-Keith-Thompson commented on #20
Oh sorry! I thought I had responded to this a while ago and apparently never did. Your callback did the trick and I ended up building my own thing around it to queue up messages.

Thank you for your quick addition

[2021-05-15 04:49] #20 closed

[2021-05-17 03:20] metrue commented on #25
Just tried to reproduce it again and found that the root cause is I use a `TextEditor` as the content view of `popup`,  but did not set the frame correctly.
[code]
Replace it following fix the issue.
[code]

[2021-05-17 03:21] #25 closed

[2021-05-17 03:24] metrue commented on #18
tried it, works like a charm.  thanks so much for your work @f3dm76

[2021-05-17 03:51] metrue commented on #18
Hi, @f3dm76

When I try the **drag to dismiss** feature, I found,
1. There's only one direction I can drag the popup view.
2. When I's trying to drag to other directions, the popup did not move, but it dismissed in the end.
It maybe better we can drag to all the direction and dismiss I think, but still, it almost works perfectly.

You can reproduce it in this [branch](https://github.com/exyte/Popu

[2021-05-18 06:23] f3dm76 commented on #18
Hey @metrue , I fixed the issue with dismissing when dragging to other sides, please check out version 0.0.13. However, I don't think that dragging to both sides should work - definitely not for toasts and floaters, and arguably dragging even the simple popup both ways will create more chaos than convenience. Have a nice day.

[2021-05-18 06:47] metrue commented on #18
Hi @f3dm76 just upgrading to 0.0.14, and yes, the dismissing when dragging to other sides issue fixed, thank you 😊 .

[2021-05-20 06:03] skywalkerlw opened #28 "Show a gray background when popover come out"
Is there a way to show a optional grey background mask as what a normal modal/alert/action sheet does?

[2021-05-20 14:21] uniqby commented on #28
@skywalkerlw,
As a workaround now I'm using this solution with ZStack:

[code]

[2021-05-25 02:06] Ftrybe opened #30 "dragToDismiss not working"
dragToDismiss = false not working

[2021-05-26 13:03] Ftrybe commented on #30
thank.

[2021-05-26 13:03] #30 closed

[2021-06-06 16:10] mohsin opened #31 "closeOnTapOutside doesn't work as intended"
I'm using this view like this:
[code]

So in this view, whenever I click outside the popup esp. in the spacers it just fails to dismiss the popup.

[2021-06-06 16:14] mohsin commented on #31
Oh wait, I just found [a solution by googling around a bit](https://www.hackingwithswift.com/quick-start/swiftui/how-to-control-the-tappable-area-of-a-view-using-contentshape). Adding the line:
[code]
before the `.popup(isPresented: $showingMessage` line in the chain resolved it. Thanks anyway for making this view. Very helpful!

[2021-06-06 16:14] #31 closed

[2021-06-11 10:52] elhajjajiamine opened #32 "i want popup to don't dismiss itself when i tap on it"
Hello ,Thanks for sharing with us this library. My  only issues is ,when i tap on  the popup  it dismissed  automaticly  ,eny solution to stop that plz.

[2021-06-11 10:58] f3dm76 commented on #32
Hey @elhajjajiamine , it has closeOnTap parameter

[2021-06-11 11:21] #32 closed

[2021-06-18 16:00] jayb611 opened #33 "Popup tap to close & outside tap to close & AutoHide not working on dynamic parent view - Only DragView working"
`
//MasterView.swift

import SwiftUI
import CoreData
import Foundation

class DataCenter: ObservableObject {
    @Published  var toastPopupView:AnyView = AnyView(EmptyView())
    @Published  var showtoastPopup:Bool = false
}

struct ContentView: View {

    @StateObject var dataCenter = DataCenter()
    @State var isLoading:Bool = false
    var body: some View {
        ZStack{

            Color(

[2021-06-18 16:02] jayb611 commented on #33
If I put that on the current screen then the bottom. custom tab button overlay on popup so I had to put that on the master page using dynamic render

[2021-06-18 16:06] jayb611 commented on #33
<img width="367" alt="Screenshot 2021-06-18 at 9 36 01 PM" src="https://user-images.githubusercontent.com/4560397/122588878-3befe900-d07d-11eb-8c2f-44f3fbae6485.png">

[2021-07-05 08:18] #33 closed

[2021-07-11 07:04] karimuddin-tech commented on #25
am getting same error
` .frame(width: UIScreen.main.bounds.width, height: CGFloat(269), alignment: .top)`

any other solution please

[2021-07-11 07:06] karimuddin-tech commented on #25
`ZStack{
                Image("blue-bottom-round")
                    .resizable()
                    .frame(width: UIScreen.main.bounds.width, height: CGFloat(269), alignment: .top)
                VStack(alignment: .center, spacing: nil, content: {
                    Image("logo-white")
                        .resizable()
                        .scaledToFit()
                        .frame

[2021-07-12 06:29] f3dm76 commented on #25
Hey @karimuddin-tech, would you please provide a minimal but complete and reproducible example for me, so I can look into that?

[2021-07-18 10:34] istroot opened #34 "Suggestion: Add opacity to body content"
Hello there.

When I use both ColorPicker & PopupView, ColorPicker tap gesture get blocked by PopupView.

I added these code to body content ⬇️ fixed this problem:

`.opacity(isPresented ? 1 : 0)`

<img width="897" alt="截屏2021-07-18 下午6 29 59" src="https://user-images.githubusercontent.com/77820700/126063903-1033c3e1-6c0a-4bf6-a575-aa61aed26920.png">

[2021-07-24 01:31] istroot opened #35 "Improvement: Fix sheet layout bugs & NavigationBarItem layout bugs"
Hello there!

I modified the source code, and fixed these issues:

1、Wrong layout in presented view(present via sheet)
2、NavigationBarItem bounce when pull down a presented view(view.isModalInPresentation = true)
3、Popup block ColorPicker tap gesture when popup view is invisible.

Which I didn't implement:

1、Have not implement drag gesture
2、Have not test on Mac、Watch、TV

Apologize for no time to

[2021-07-28 05:55] #34 closed

[2021-07-29 03:41] feodormak opened #36 "closeOnTapOutside causes issues with SegmentedPicker"
Hi,
I have found that if the view being presented by `PopupView` contains a `SegmentedPicker` view and `closeOnTapOutside` is `true`, the `SegmentedPicker` does not respond to changes with the usual tap gesture, only to long presses and dragging of segments across it. I believe there are issues with the `TapGesture` responsible for `closeOnTapOutside`.

Example with `closeOnTapOutside` set to `tru

[2021-07-29 22:41] #28 closed

[2021-08-04 14:29] long-nguyen opened #37 "How to dim background when show popup?"

[2021-08-14 04:22] JetForMe opened #38 "Position .center?"
Hi there. Thanks for this library. Could we also get a position .center? Thanks!

[2021-08-14 05:05] JetForMe commented on #37
I have this need, too.

[2021-08-16 23:25] JetForMe opened #39 "Environment property for popup to dismiss itself?"
Is there a way for the popup to dismiss itself when it doesn't have access to the presentation state variable? Something like `self.presentationMode.wrappedValue.dismiss()`?

[2021-08-19 09:30] JetForMe opened #40 "Evaluate Popup view after invocation"
Is it possible to defer invoking the view closure until after the popup state changes and needs to be displayed?

[2021-08-27 03:12] Z3r0CooLE opened #41 "Memory Leak"

[2021-08-27 05:03] #41 closed, assigned to nobody

[2021-08-27 15:11] istroot opened #42 "[Bug]Fix retain cycle issue"
First, thanks for your PopupView library❤️.

## Issue
ContentView's @StateObject variable never deinit

## Minimal Example
[code]

## Solution
[code]

[2021-09-13 05:05] #18 closed

[2021-09-13 05:12] f3dm76 commented on #38
Hey @JetForMe, sorry for the late answer, would you please elaborate: for which popup type do you need this? Default popup type is already in the center, and center position for toasts doesn't really make sense to me. Have a good day.

[2021-09-14 04:19] manindaniil commented on #42
Hey @istroot ! Thank you so much for reporting this issue !
We added your fix to the master.

[2021-09-14 04:31] manindaniil commented on #36
Hey @feodormak !
Thank you so much for reporting this issue!
We’ve checked the issue and noticed the following things:
If you set the arguments in popup view

[code]

Try to set the `closeOnTap` field as `false` then your case tap will work as you want.

If it does not resolve your issue, please, provide us your code.
Have a nice day!

[2021-09-15 04:17] manindaniil commented on #35
Hey @istroot !
Thank you so much for your improvements !
We added some things from your code, it was very helpful !
Have a nice day !

[2021-09-15 04:33] manindaniil commented on #39
Hey @JetForMe !

We discussed this feature and resolved that we won't add environment property to the Popup View.
Technically, we can add @Environment key for dismissing a Popup, and it works. But only for one Popup entity. From SwiftUI's side, it cannot handle more than one entity of one key.
Therefore if we can add environment dismiss() action we cannot guarantee the correct work of the action i

[2021-09-15 08:38] manindaniil commented on #37
Hey @long-nguyen  !
Thank you so much for reporting this issue !
We added the ability to set a color of background area, just set `backgroundColor` in the Popup modifier, by default - Color.clear.
Have a nice day !

[2021-09-17 07:08] f3dm76 commented on #42
Hey @istroot , I'm happy to announce that your fix was included in 1.0.2 release and is now live! Have a wonderful day!

[2021-09-17 07:08] #42 closed

[2021-09-17 07:12] f3dm76 commented on #40
Hey @JetForMe, we deferred initial popup's body creation till the first actual presentation, but it is not being deallocated after that, like system sheets do. Hope that fits your needs. The fix is included in 1.0.2 release which is now live, please give it a go. Have a marvellous day!

[2021-09-17 07:13] #39 closed

[2021-09-17 07:14] f3dm76 commented on #37
Hey @long-nguyen, I'm happy to announce that this feature was included in 1.0.2 release and is now live! Have a wonderful day!

[2021-09-17 07:14] #37 closed

[2021-09-17 07:16] f3dm76 commented on #35
Hey @istroot, I'm happy to announce that some of these changes were included in 1.0.2 release and which is now live! Have a wonderful day!

[2021-09-17 07:16] #35 closed

[2021-09-17 07:17] f3dm76 commented on #22
Hey @nasru, I'm going to close the issue since it's been a while. Please do reach out if you are still having problems with this. Have a nice day!

[2021-09-17 07:17] #22 closed

[2021-09-17 07:17] f3dm76 commented on #21
Hey @kiddlima, I'm going to close the issue since it's been a while. Please do reach out if you are still having problems with this. Have a nice day!

[2021-09-17 07:17] #21 closed

[2021-09-21 18:15] bratxdy opened #47 "Is there a way to make the toast show on top of modals?"
Ideally we'd like to be able to display a toast and it appear no matter if there was a modal on the screen or not. Right now if there is a modal the toast appears underneath it. We could add the view modifier onto this modal view, but then the toast would go down once the view was dismissed. Is this something that is possible?

[2021-10-01 08:52] f3dm76 commented on #36
Hey @feodormak, I'm closing this one since it's been a while. Please let us know if you are still having issues with this. Have a nice day!

[2021-10-01 08:52] #36 closed

[2021-10-01 08:54] f3dm76 commented on #38
Hey @JetForMe, I'm closing this one since it's been awhile. Please don't hesitate to reopen and share your thought on center alignment. Have a nice day!

[2021-10-01 08:54] #38 closed

[2021-10-01 08:55] f3dm76 commented on #40
Hey @JetForMe, hope we satisfied your need of lazy content - I'll close the issue, but please let us know if it wasn't enough. Have a wonderful day)

[2021-10-01 08:55] #40 closed

[2021-10-01 08:57] f3dm76 commented on #47
Hey @bratxdy, that's an interesting question. I'm sorry to say right now we are short on time, but we will look into that when we have time. Thank you for reaching out, have a great day!

[2021-10-04 10:14] manindaniil commented on #47
Hey @bratxdy !
I'm not sure that it is possible in the SwiftUI right now.
There are a few ways to implement this functional
- change your hierarchy and add a `.popup` modifier to the top view.
- change a way presentation of modal views.

At the moment, in SwiftUI, such views as e.g. `.sheet` and some other views will be added to the top of `WindowGroup`, which causes problems for creating a univer

[2021-10-06 15:46] TerryHuangHD opened #48 "autoHide might be failed in Xcode 13"
# Description
* autohideIn is not working: the dismissCallback will be called continuously, and the dialog is not dismissed

[code]

# Xcode
![Screen Shot 2021-10-06 at 11 38 15 PM](https://user-images.githubusercontent.com/574599/136237135-45302beb-3dd7-4ed7-9584-ebca81d0023d.png)

[2021-10-07 05:14] manindaniil commented on #48
Hey @TerryHuangHD !
I've checked your issue, and `autohideIn` and `dismissCallback` are working correctly, at the least in Examples. Also, I've checked with simple `ViewModel: ObservableObject` in Xcode 13A233, it is working too.

Maybe you have a problem with reinit of your ViewModel ?
You can provide us with more detailed information and we will help to solve the problem.

[2021-10-07 08:20] TerryHuangHD commented on #48
It seems to be interfered with other @Published properties in the same view model.
I changed the design and it works now.
Thanks for helping out.

[2021-10-07 08:20] #48 closed

[2021-10-19 18:18] Glox9 opened #49 "."

[2021-10-19 18:24] #49 closed, assigned to nobody

[2021-10-27 23:11] JetForMe opened #51 "Add .popup(item:) variant"
There's a need to pass information to the toast UI. SwiftUI handles this for various views by providing an `item` variant for view modifiers:

[code]

I'm looking at your code and wondering how hard it would be to add the same thing, but I don't quite understand everything you're doing in yours.

[2021-11-17 16:39] ronyfadel opened #52 "popup toast doesn't appear if isPresented is .constant(true)"
In this code:

[code]

`PopupView` bases the appearAction on `isPresented` changing:

[code]

But if the binding is a `.constant(true)` since PopupView's inception, it doesn't appear.

[2021-11-22 18:01] solkpolk opened #53 "Popup view makes the child view navigate to top"
Xcode. 13.1
iOS 15.0

At the end of a long list I want to trigger a popup view. When the user triggers it the scrollview is reset to beginning.

[code]

[code]

[2022-01-12 19:16] beks6 opened #54 "how to pass custom Text to pop up"
Hey all, I have Button which calls a ScannerView and receives the scanned barcode. I would like to pass the scanned String to a popup view and can't figure out how to do it properly. The pop up is always empty

That's my simplified code

[code]

[2022-01-13 05:40] f3dm76 commented on #54
Hello @beks6, your code doesn't show if your CodeScannerView works and actually updates scannedCode value. Also doesn't show how createSuccessBanner works - might be losing your value there. But if both of them work as expected, the code basically looks something like this:
[code]
This code updates content successfully, please check it out. If you have any further questions please provide minimal

[2022-01-14 20:51] #54 closed

[2022-01-27 19:30] iankoex opened #55 "Redrawing of views"
Changing how the view is shown would prevent reloading of the content.
[code]

[2022-01-28 06:33] f3dm76 commented on #55
Hello @iankoex, sorry, I'm confused - is this piece of code a proposed change to the lib? I mean, do you want me to include this into project to prevent reloading of the content? Why would you want to prevent content reloading? Would you please specify what problem exactly you are having, what is the desired behaviour, and what is the proposed solution, as is customary.

[2022-01-28 21:15] iankoex commented on #55
If the popup is triggered in a scrollview, the content in this case the scrollview reloads. This makes the scrollview go to the top, offset of zero. The snippet above does not reload the content. The desired behaviour is that when the popup is shown, the scrollview maintains its position(offset).

[2022-02-02 18:01] gpfister opened #56 "[BUG] dragToDismiss is ignored"
Hi,

Many thanks for this great package :)

I found an issue (or so I think): the dragToDismiss parameter is not been considered. I believe it should be changed in the bellow function:

[code]

Many thanks in advance.

[2022-02-02 18:04] gpfister commented on #56
I should add that I'm finding this issue because in one scenario, I would like the toast to be dismissed when the subview has finished processing.

[2022-02-05 00:59] sheat-git opened #57 "Toast popup is not displayed when using sheet on ipad."
The default popup is displayed, so it may be that the toast exists further down than the ipad's sheet display area.

Xcode 13.2.1
iPadOS 15.2

[2022-02-08 08:25] f3dm76 commented on #56
Hey @gpfister, thank you for you kind words) I must admit though I don't yet understand the issue you are having. It does return the view if dragToDismiss is false - it says
[code]
'return sheet' part stays even if 'applyIf' doesn't actually add anything to it. Could it be that your issue is caused by anything other than this? Would you please share a little example of your problem? Sorry if I did

[2022-02-08 08:50] f3dm76 commented on #52
Hey @ronyfadel, great catch! Thank you very much for bringing this to my attention. I'm happy to say, I fixed the issue (added onAppear call as well as on change). I added my fix to version 1.0.4, you are most welcome to give it a go. Have a marvellous day!

[2022-02-08 08:51] gpfister commented on #56
I apologise, I'll do a bit more debug to check in my app where this is coming from.

[2022-02-08 08:51] #56 closed

[2022-02-08 08:56] f3dm76 commented on #55
Hey again @iankoex, got your point, however your suggested solution kind of beats the purpose of lazy load - .overlay(sheet()) is called in any case in your scenario. Keeping in mind your described problem, I restructured a little. I included my solution into 1.0.4 release, please give it a go, and do let me know if that didn't fix your problem. Have a great day!

[2022-02-08 09:06] f3dm76 commented on #53
Hey @solkpolk, sorry for the slow answer. I'm happy to say, I fixed the issue. I added my fix to version 1.0.4, you are most welcome to give it a go. Have a marvellous day!

[2022-02-08 09:22] f3dm76 commented on #57
![simulator_screenshot_B8248E9C-79F0-47C8-9487-454C6F094080](https://user-images.githubusercontent.com/9447630/152956364-3f6aa4ab-82bc-46dc-bb7e-de013a20361b.png)
Hey @sheat-git, tried launching on iPad, seems to work alright. Used the same setup. Could you please provide more details about your problem?

[2022-02-08 15:09] sheat-git commented on #57
This happens only in the view in the .sheet.
You can reproduce it by rewriting ExampleApp.swift as follows.

[code]

[2022-02-09 00:59] skywalkerlw commented on #47
I have the same problem/concern on it

[2022-02-09 17:10] capaldo opened #58 "Help regarding background blur and drop shadow"
Hey everyone,

I was wondering if anybody could point me in the right direction on how to modify the `PopupView.swift` file to add a background blur and a dropshadow to the popup window. I have been trying to adjust the file but I'm unable to blur the view below the popup.

Thanks for your help!

[2022-02-09 22:15] alex2015 commented on #53
Hello @f3dm76 the problem not fixed. Please  fix this problem. Without solving this problem, I can't use the library. It becomes useless!

[2022-02-10 06:32] f3dm76 commented on #53
Try 1.0.5

[2022-02-11 03:58] f3dm76 commented on #58
Hey @capaldo, here is the soul of the component:
[code]
Hope this helps, have a nice day!

[2022-02-11 09:35] alex2015 commented on #53
@f3dm76 Thank you. It works. Issue is fixed.

[2022-02-11 11:27] #53 closed

[2022-02-14 09:38] f3dm76 commented on #47
@bratxdy, @skywalkerlw, hey, I added the ability to display popups on top of each other and on top of sheets also. Now you can chain popups - they will use their presenting view's dimensions for their position calculations - not the whole screen like they used to. If anything doesn't work right, please do share your examples with me. Hope that'll help both of you, have a wonderful day!

[2022-02-14 09:38] f3dm76 commented on #57
Hey @sheat-git, I added the ability to display popups on top of each other and on top of sheets also. Now you can chain popups - they will use their presenting view's dimensions for their position calculations - not the whole screen like they used to. If anything doesn't work right, please do share your examples with me. Hope that helps, have a wonderful day!

[2022-02-14 21:58] sheat-git commented on #57
thank you sooo much!!

[2022-02-14 21:59] #57 closed

[2022-02-17 09:01] f3dm76 commented on #51
Hey @JetForMe, it's been a while, sorry for that, but I am happy to announce that I added the item variant in version 1.0.7! Unfortunately it forces the item to be Equitable and not just Identifiable like .sheet does, since I have to subscribe to it with .onChange. Please give it a go, and do let me know if anything doesn't work as expected. Have a marvellous day!

[2022-02-17 22:27] JetForMe commented on #51
Thanks! I'm no longer on that project so I'm not sure when I'll get to it next. But I appreciate the work!

[2022-03-03 05:16] f3dm76 commented on #52
Hello @ronyfadel, it's been a while so I'm gonna this issue, but please do let me know if the problem is not fixed. Have a good day!

[2022-03-03 05:16] #52 closed

[2022-03-03 05:17] f3dm76 commented on #55
Hello @iankoex, it's been a while so I'm gonna this issue, but please do let me know if the problem is not fixed. Have a good day!

[2022-03-03 05:17] #55 closed

[2022-03-05 02:23] thebarndog commented on #51
@f3dm76 it looks like this issue should be reopened because while the popup modifier does now take an item, it doesn't pass that item into the `view` closure. When non-nil, the item should be passed into the view building closure, making the signature look like `@ViewBuilder view: @escaping (Item) -> PopupContent`.

[2022-03-05 06:08] f3dm76 commented on #51
Ok, guys I'll give it a look once I have a minute, have a good day!

[2022-03-07 22:56] thebarndog commented on #51
I took a stab at it but I couldn't quite figure it out. I think in order to do it correctly you'll need two underlying modifiers, one that takes a view with no item and one that does. From there, the biggest issue I ran into was the dismissal animation when the view is set to autohide. Doing something like this

[code]

doesn't work because the view will disappear as soon as `item == nil`. You som

[2022-03-10 09:39] naveedmcs opened #59 "how to transparent background Colour for bottom sheet popup?"
![Screenshot 2022-03-10 at 2 39 55 PM](https://user-images.githubusercontent.com/21976150/157634704-eef9ac08-35a5-4c8b-867a-a2fed34b443c.png)

[2022-03-10 09:41] naveedmcs commented on #59
![Screenshot 2022-03-10 at 2 39 55 PM](https://user-images.githubusercontent.com/21976150/157634634-bf414b5e-0b82-45ee-b3ca-555c444f273a.png)

[2022-03-14 11:44] naveedmcs commented on #59
Please check my screenshot for example

Sent from my iPhone

[2022-03-14 11:46] f3dm76 commented on #59
If you meant semi-transparent black bg - I assume it is controlled by backgroundColor parameter in popup modifier. But I can't tell where exactly it's coming from since I haven't seen your code. Please provide your code and better description of your problem

[2022-03-31 12:24] yashvyas29 opened #60 "Top Floater is showing a line after dismissed"
I just cloned the repository and tried the example but it seems top floater is leaving a line after it gets dismissed.
All other popup types doesn't show it.

<img src=https://user-images.githubusercontent.com/5429210/161053880-604a98ba-8b93-42af-a6ec-8548cb8e7d28.png width=360>

I am using Xcode 13.3.
In between thanks for making this great library.

[2022-04-01 05:59] f3dm76 commented on #60
Hey @yashvyas29, thank you for your kind words. However, I launched the example (also Xcode 13.3, iOS 15.4, tested on sim iPhone 13 max pro, and on device iPhone mini 12), and everything works as expected. I tried dismissing by tap, drag and by timer - no lines. Do you maybe have some additional reproduction steps? Have a great day!

[2022-04-01 07:50] yashvyas29 commented on #60
I am using iPhone 13 mini simulator, iOS 15.4 on M1 mac. If that matters.
Getting the top floater bottom line every time after dismiss using auto, tap or drag.
It disappears when we launch any other toast or floater. But not when we launch Popup or Card.

Note: I tried it for iPod Touch - 7th generation simulator and its not appearing there.

[2022-04-01 09:07] rifqifadh opened #61 "Ignore NavigationBar in Popup"
popup with background not ignore navigationview, is it possible to cover all screen while keep using navigationview ?

![Screen Shot 2022-04-01 at 16 06 29](https://user-images.githubusercontent.com/38750970/161232457-10851eea-1e3c-4b74-bf0a-cff0709fb75e.png)

[2022-04-01 09:44] f3dm76 commented on #60
https://developer.apple.com/forums/thread/690570
Could this be that this sim is a bit broken?

[2022-04-01 10:45] f3dm76 commented on #61
Hey @rifqifadh, it doesn't seem to be possible to force any view to be shown above navbar view. Navbar just takes priority. What you can do is move your popup up your view hierarchy to be "above" your navigation view. Like this:

[code]

[2022-04-03 15:53] swilson opened #62 "PopupView stays visible when running 'Designed for iPad' on macOS"
If set to show on the bottom the view moves up the screen when dismissed. Tried increasing the hiddenOffset to no avail. https://drive.google.com/file/d/1w3eB-60w5Ua6J-ulJKLbeGxRyFhEJYpG/view?usp=sharing

[2022-04-04 10:02] f3dm76 commented on #47
It's been a while so I'm closing this one for now, please do let me know if you have any further issues. Have a good day!

[2022-04-04 10:02] #47 closed

[2022-04-04 10:03] #59 closed

[2022-04-04 10:03] #60 closed

[2022-04-08 08:28] murad1981 opened #63 "add default value for floater's vertical padding"
When I use the type `.floater(verticalPadding:)` in case of a `NavigationView` and the position is `top`, the popup view appears on top of the notch in iPhone X and later, which requires me to calculate `safeAreaInsets.top` and then add it to the padding, this can be done using `GeometryReader` which's not suitable in some situations and has side effects.
I believe adding a default value for the p

[2022-04-18 09:04] f3dm76 commented on #51
Hey @thebarndog, you could probably have a weak copy of item which holds the latest non-nil version of item and return this copy in self.view(item). If that doesn't work for you I think we should just stick to using it like this:
[code]
Have a wonderful day!

[2022-04-18 09:06] f3dm76 commented on #61
It's been a while so I'm closing this one for now, please do let me know if you have any further issues. Have a good day!

[2022-04-18 09:06] #61 closed

[2022-04-18 09:23] f3dm76 commented on #62
Hey @swilson, I'm sorry to say we do not support mac catalyst, so I removed the target completely, sorry for not doing it in the first place. You could use mac target if you need to run on macOS. Have a good day!

[2022-04-18 11:09] f3dm76 commented on #63
Hey @murad1981, added another parameter to floater enum: useSafeAreaInset. If true - safe area is added to verticalPadding value. Please check out version 1.1.0. Have a great day!

P.S. To get safe area without changing your layout just use GeometryReader in .background:

[code]

[2022-04-18 11:32] CedricSoubrie opened #64 "Need to get dismiss source"
I want to react differently when popup is dismissed because of a tap or because of a drag.

Here is the changes I've made to accomplish this 👇

<img width="639" alt="PopupChanges" src="https://user-images.githubusercontent.com/1751585/163802322-dee51cbf-abdf-48be-84aa-ffc77988ec61.png">

Is there another way of achieving what I want ?
I tried adding a click on my view but it doesn't work well sinc

[2022-04-18 13:14] murad1981 commented on #63
I tried the version on tag `1.1.0` and it works perfectly and even in `.sheet` Views too, thank you for your support and many thanks for the `FrameGetter` modifier, I needed it in many cases but I found myself stumbled upon finding the right way to calculate `safeAreaInsets` without engaging myself with `UIKit`

[2022-04-18 13:15] #63 closed

[2022-04-18 16:13] thebarndog commented on #51
Tried that, doesn't seem to work either. And I could use that method but I'd prefer to use the `item` variant.

[2022-04-22 09:03] f3dm76 commented on #64
Hey @CedricSoubrie, looking good, great idea! I think this is a pretty handy feature, but maybe better leave the one without parameters too? In case some people don't need the source and to not break API for people who are gonna check out the new version, what do you think? By all means, please do a pull request, I'd really appreciate it, have a fantastic day!

[2022-04-24 13:49] murad1981 opened #65 "View not removed from memory when dismissed"
when I dismiss the `popUpView` it keeps its reference in memory, unlike `.sheet` modifier which loads the view every time it's presented. try to print something in `.onAppear`  to see that it only print once even if I dismiss the view and show it again.

[2022-05-05 09:24] f3dm76 commented on #61
Hey @rifqifadh, I think I found a solution using Apple's `fullScreenCover`, please check it out:

[code]

Use like this:
[code]

Sorry if I'm a bit late, have a great day!

[2022-05-18 09:14] #62 closed

[2022-05-23 17:59] murad1981 opened #67 ""floater" popup type appears momentarily after dismissing the keyboard"
I have the following simple setup for my top floater popup, it appears without problems when the binding var toggles to true, but I noticed a UI bug in which the floater appears for a very short moment after finish editing in a `TextField` - you can copy and paste the code snippet to try it out:

[code]

following is a video screenshot for the bug:

https://user-images.githubusercontent.com/119904

[2022-05-25 16:35] gurrrung opened #68 "`backgroundColor` doesn't applies to navigation header"
In my code, I am creating a modal and `backgroundColor` is set to a color. The color is not applied to the whole background, the navigation bar is not colored.

[2022-05-26 05:45] f3dm76 commented on #68
Hello @gurrrung, please see this discussion, https://github.com/exyte/PopupView/issues/61, have a nice day!

[2022-05-26 05:52] f3dm76 commented on #64
Hey there @CedricSoubrie, just wanted to remind you about this cool work you did. Would you please make a PR? Or you can just let me add this functionality myself if you want, please let me know if I should. Have a great day!

[2022-05-26 05:55] f3dm76 commented on #67
Hey @murad1981, great catch - thank you for bringing this into our attention, we'll take a look as soon as we can. Have a great day!

[2022-06-02 06:25] #67 closed

[2022-06-02 06:26] #65 closed

[2022-06-03 09:51] f3dm76 commented on #51
Hey @thebarndog, I'm happy to let you know I added the Item param into return closure as you asked, please check out version 1.1.4. Have a marvellous day!

[2022-06-06 21:22] #68 closed

[2022-06-07 16:30] thebarndog commented on #51
That's excellent, thank you so much for doing that! I figured out the context I was missing when I tried to implement it which is SwiftUI transitions and placing the content in a `ZStack` so that insertions and removals get animated but it seems like you're on top of it :)

[2022-06-09 07:50] #51 closed

[2022-06-10 15:52] murad1981 opened #69 "Animation is lost while the popup is being dismissed"
The `easeInOut` animation of the floater `popUp` will be lost if the `popUp` has been presented using the `item...` function, like in this snippet:

[code]

this will not happen if we present the `popUp` using `isPresented....` function.

video screenshot:

https://user-images.githubusercontent.com/1199045/173104043-6e3f0d29-eda7-4bef-bfb7-ab926623d58e.mov

[2022-06-27 05:31] f3dm76 commented on #69
Hey @murad1981, fixed the issue by reverting changes to item popup variant. Now I do not return item in closure, just like it used to be before. Have a great day!

[2022-06-27 05:40] f3dm76 commented on #51
Hey @thebarndog, sorry to let you know I had to revert these changes, because the hiding animation didn't work. It looks like the only way to keep showing the popup during the hiding animation is to make a copy of the `item`, which is a bad idea. Please let me know if you have any ideas of a possible solution, or by any means pleased do make a PR. Have a nice day!

[2022-06-27 11:25] murad1981 commented on #69
that solve the issue .. thank you @f3dm76

[2022-06-27 11:25] #69 closed

[2022-07-07 14:50] thebarndog commented on #51
@f3dm76 you don't have to make a copy, as my comment above says, you have to embed everything in a ZStack and apply a transition so that when `item` is inserted or removed, that gets animated.

[2022-07-15 07:32] hoangnam714 opened #71 "dismissCallback() not call"
I used the library and noticed that the dismiss Callback was not called after the popup was hidden

[2022-07-15 07:34] f3dm76 commented on #71
Hey @hoangnam714, hidden in what way? Could you please provide minimal reproducible example? Have a nice day

[2022-07-15 07:36] hoangnam714 commented on #71
here is the code i used, thank you very much
[code]

[2022-07-15 07:40] f3dm76 commented on #71
@hoangnam714 I can not launch your coed exactly, here is the closest I could do - dismissCallback is called as expected
[code]

[2022-07-15 07:54] hoangnam714 commented on #71
@f3dm76 I understood why the callback function didn't work, because I didn't use the default diss miss, instead I changed the value of the state outside the code block.

[2022-07-15 07:54] hoangnam714 commented on #71
<img width="886" alt="Screen Shot 2022-07-15 at 14 54 30" src="https://user-images.githubusercontent.com/51524705/179178680-27de20b8-aa07-444c-9551-9f5abc8bb5d6.png">

[2022-07-15 07:57] f3dm76 commented on #71
I am not sure if dismiss block should be called in this case... I'll think about it. Have a nice day!

[2022-07-15 07:59] hoangnam714 commented on #71
Thank you, I will think more about this, because sometimes we don't close the popup as soon as the user touches it, instead it needs a close button for example. :)

[2022-07-27 12:47] toseefkhilji opened #72 "popup not showing correctly"
Hi ,

I am working on app, to show toast message using below code.

But issue is If once Popup toast show, second time it's not showing.

[code]

https://user-images.githubusercontent.com/2367614/181250056-eb963e2b-00dc-46e5-a2aa-d037ed12b9f3.mov

M I doing something wrong?
How can is show different toast messages in same view?

[2022-07-28 03:57] f3dm76 commented on #72
Hey @toseefkhilji, the code you attached works perfectly well. Please make sure you have the latest version and provide more details about your xcode version etc. if the problem reproduces for you on this code. Have a nice day

[2022-07-28 05:20] toseefkhilji commented on #72
Thanks for update. Please find below detail.

Xcode **Version 13.4.1**
pod **ExytePopupView version 1.1.5**
Apple **Macmini M1 - macOS 12.3.1**

I'm still facing issue, popup is not working as per expectation. like .top and .bottom is coming to middle.
Expected result is it should stick to top or bottom not in middle.

https://user-images.githubusercontent.com/2367614/181426537-1c3655f0-fddf-40e3-

[2022-07-28 05:23] f3dm76 commented on #72
@toseefkhilji could you also please attach ios version and what simulator/device you are using

[2022-07-28 05:23] f3dm76 commented on #72
Ah, I see in the video

[2022-07-30 06:18] toseefkhilji commented on #72
@f3dm76 : Did you get chance to see issue?

[2022-08-08 04:06] toseefkhilji commented on #72
@f3dm76 : Did you get chance to see issue?

[2022-08-08 05:51] f3dm76 commented on #72
@toseefkhilji Your first code does not reproduce. In your second you are attaching the popup to a view which is not fullscreen, so it is showing on top of THAT view, calculating popup's location using THAT view's size. Have a nice day

![simulator_screenshot_E419CE5F-2B39-4545-A3D8-B47A338A5B0A](https://user-images.githubusercontent.com/9447630/183348039-6c9b057f-f6e8-41fb-9b40-513ec72ee4b8.png)

[2022-08-08 09:10] toseefkhilji commented on #72
@f3dm76 : thanks for explaination.

[2022-08-08 09:10] #72 closed

[2022-08-14 13:42] knappsimon commented on #64
I'd really like this to be a feature

[2022-08-25 16:39] juandahurt opened #74 "Unable to show toast when tab bar is visible"
I've been trying to show a toast in my custom View (which I'm wrapping in a UIViewController and then in a UITabBarController). When the tab bar is hidden it works just fine, but when the tab bar is shown  it hovers the toast (I suppose) so it never appears. I want the toast to appear above the tab bar, Is there any way to achieve this? O am I just using it the wrong way?

| Tab Bar Hidden | Tab B

[2022-08-25 18:05] juandahurt commented on #74
Found a workaround. It looks like if you apply and offset (it can be 1, for example) to the view, it works just fine. Not sure why but it works.

![Simulator Screen Shot - iPhone 11 - 2022-08-25 at 13 03 08](https://user-images.githubusercontent.com/26754335/186737499-74cc955e-4ecb-448e-a57e-5036e805722b.png)

[2022-08-26 19:32] khawarappsgenii opened #75 "Popup height issue in case of TextView used in View"
Am facing popup height issue in case of TextView used in View which we have passed. The popup covers whole screen height instead of jus adjusted to the height based on view content.
May be something wrong with TextView.

[2022-09-15 02:35] shj997 opened #76 "Close on Button Tap"
What is the best way to extend the closeOnTap parameter to a X button at the top of the pop up card?

[2022-09-15 03:04] #76 closed

[2022-09-15 06:15] f3dm76 commented on #74
Hey @juandahurt, could you please attach a minimal reproducible code sample? I need to see if you are changing the main view's height when showing tabbar, how you are wrapping it all in UIViewController and what is your safe area situation. Popup view counts its position depending on the height of a view it is attached to, so it could be that you need to attach it to content of your tab control, n

[2022-09-21 11:19] programmerchan opened #77 "about show toast at modals"
hello
i am using your toast but some problem with me can you help me?
iam register toast in view A, when i use 'navigationLink'  to view B, B use 'navigationLink' to view C,view B and C can show toast as well
but when i use 'fullscreenCovert' or 'sheet' to show view B, toast not shown in view B,it will stil shown in view A
Is there a way to make the toast show on top of modals(register toast once)

[2022-09-21 11:21] f3dm76 commented on #77
Hello @programmerchan, sorry but no, Apple doesn't give me enough right for that. Popup is just an overlay, it can't be shown above anything but the view itself

[2022-09-22 06:31] Ian8829 opened #78 "Fatal error: UIViewRepresentables must be value types: SignInWithApple"
When I upgrade my XCode version to 14 this error is occured. (tested with ios16 simulator)

My ExytePopupView package version is 1.1.6.

Why is this error happened?

![Screen Shot 2022-09-22 at 3 30 59 PM](https://user-images.githubusercontent.com/23634595/191674475-b9d4d933-d0b5-4ade-b961-b7f1bb0caf54.png)
![Screen Shot 2022-09-22 at 3 31 12 PM](https://user-images.githubusercontent.com/23634595/

[2022-09-26 04:43] f3dm76 commented on #78
@Ian8829, looks like your 'SignInWithApple' is declared as a 'class', while swiftUI expects it to be a 'struct', could you please try changing that? Have a nice day

[2022-09-26 04:43] #77 closed

[2022-09-26 04:45] f3dm76 commented on #74
I'm closing this one for now, please feel free to reopen if you are still having this issue

[2022-09-26 04:45] #74 closed

[2022-09-27 17:52] d-morgan opened #79 "App crashes using sheet (with button press)"
App crashes randomly and intermittently when Popup triggered by button press. I'm using a very similar approach to the 4th example in the README (the sheet).

`AttributeGraph precondition failure: setting value during update`

It seems like the `proxy.safeAreaInsets` isn't available randomly

![Screenshot 2022-09-27 at 18 46 36](https://user-images.githubusercontent.com/1569839/192599406-537a9d98-

[2022-10-06 22:08] mywristbands opened #80 "How to use popup in deeply nested view?"
In my app, I would like to display popups from views that are deeply nested in my app. When displaying built-in SwiftUI alerts, confirmation dialogs, sheets, etc., this is very easy to do. However, with this PopupView library, it is much more difficult. This is because, as you explain in your `Note`:

However, if I attach a popup to the root of my screen, but want to define the actual popup view f

[2022-10-07 05:28] f3dm76 commented on #80
@mywristbands, sorry, I do not have any recommendations for your scenario. PopupView is just a tool, you can use it however you see fit. Or fork it and improve to your liking.

[2022-10-07 16:21] mywristbands commented on #80
@f3dm76 That's ok, I just wanted to see if anyone had already figured this out before I implemented a solution myself. Thanks for letting me know.

[2022-10-11 06:19] #80 closed

[2022-10-11 06:34] #78 closed

[2022-10-11 11:26] f3dm76 commented on #64
@CedricSoubrie, @knappsimon, I'm happy to let you know this feature is implemented in version 1.2.0, please give it a go. Have a marvelous day!

[2022-10-11 11:27] f3dm76 commented on #71
Hey @hoangnam714, I gave it more thought and since .sheet does it, I also added this. I also added dismiss source as a parameter in dismiss callback, so you can distinguish if you need this.This feature is implemented in version 1.2.0, please give it a go. Have a marvelous day!

[2022-10-11 11:27] #71 closed

[2022-10-11 11:29] f3dm76 commented on #79
Hey @d-morgan, I reimplemented this one using UIApplication to get safe area, hope that solves your issue. Please check out version 1.2.0. Have a marvellous day!

[2022-10-11 11:29] #79 closed

[2022-10-11 14:27] f3dm76 commented on #75
Hey @khawarappsgenii, could you please provide a minimal reproducible example?

[2022-10-13 13:00] rajdhakategraphy opened #81 "Keyboard handling for popups"
Keyboard area is not handled for popups

I'm using floater type to show a popup. (bottom popup version 2 from example)

[code]

And this is the result

![Simulator Screen Shot - iPhone 14 Pro Max - 2022-10-13 at 18 25 34](https://user-images.githubusercontent.com/88770870/195602896-591603fd-2cd7-47b6-9db2-5daf0a982d71.png)

![Simulator Screen Shot - iPhone 14 Pro Max - 2022-10-13 at 18 25 37](http

[2022-11-07 07:38] deepakibo opened #82 "Manual adding PopupView is not working"
Cannot find 'ClassReference' in scope

And many other errors

[2022-11-08 08:44] owen12ab commented on #61
Is there any way to achieve this without using fullScreenCover?

[2022-11-12 07:56] EProgressPro commented on #79
Hey @f3dm76

Problem:
In my case, FrameGetter both crash in 1.2.0 and earlier version(iOS15 & iOS16).

Log:
iOS16: AttributeGraph precondition failure: setting value during update
iOS15: precondition failure: deleting updating attribute

Solution:
I added delay before async updating value, and It works for me in most cases.
Hope that helps.

[code]

[2022-11-17 08:20] f3dm76 commented on #82
Hey @deepakibo, please provide details - what exactly did you do, and what you got, please attach pictures if you can

[2022-11-17 08:21] f3dm76 commented on #75
It's been a while, so I'll close this one for now. Please feel free to reopen if you are still having the issue.

[2022-11-17 08:21] #75 closed

[2022-11-17 08:35] deepakibo commented on #82
Giving some compile time error xcode 14

[2022-11-17 10:25] f3dm76 commented on #82
Are you adding all the source files to you project?

[2022-11-22 06:21] f3dm76 commented on #82
@deepakibo please make sure you are using the whole Source folder or user pod/spm

[2022-11-30 00:42] jtressle opened #84 "Popup from bottom does not cover navigation bar"
Hi,

Great library!

I'm trying to replace partialSheet with the bottom popupview from this library, but I'm having trouble with the navigation bar.
The solution proposed here (https://github.com/exyte/PopupView/issues/61#issuecomment-1118347975) animates weird because you can see the transparent view come up from the bottom.

How would one get the the same behavior as in the partial sheet library